global-reset()
// @import '../vars.styl'

DEFAULT_FONTS = 'OpenSans', helvetica, arial, sans-serif

textColor = #4D4D4D 
fontSize= 14px 

html, body
    width 100%
    height 100%
    overflow hidden

body
    font-family DEFAULT_FONTS
    color textColor 
    font-size fontSize 
    font-weight bodyFontWeight 
    -webkit-font-smoothing antialiased